.text
    font-family: Roboto
    &__default
        color: #505f98 !important
        font-size: 14px
        font-weight: 400
        line-height: 24px
    &__nav_title
        color: #37447E !important
        font-size: 26px
        font-weight: 900
        line-height: 38px
    &__title_first_screen
        font-size: 50px
        font-weight: 500
        line-height: 66px
    &__title_second_screen
        font-size: 36px
        font-weight: 500
        line-height: 48px
    &__title_second_screen_under_icon
        font-size: 16px
        font-weight: 500
        line-height: 26px
    &__content_first_screen
        color: #505f98 !important
        font-size: 18px
        font-weight: 400
        line-height: 30px
        width: 85%
    &__content_second_screen
        color: #505f98 !important
        font-size: 16px
        font-weight: 400
        line-height: 26px
        width: 93%
    &__content_second_screen_under_icon
        color: #505f98 !important
        font-size: 12px
        font-weight: 400
        line-height: 18px
    &__money_footer
        color: #222F65 !important
        font-size: 50px
        font-weight: 500
        line-height: 66px
        letter-spacing: 1px
        margin-top: 35px

.button
    background-color: #111B47 !important
    color: #FFFFFF !important
    --bs-border-radius: 2px
    &__nav
        width: 160px
        height: 26px
        --bs-btn-padding-y: 0 !important
        font-size: 12px !important
        font-weight: 500 !important
        line-height: 18px !important
    &__first_screen
        width: 189px
        height: 35px
        --bs-btn-padding-y: 0 !important
        font-size: 16px !important
        font-weight: 500 !important
        line-height: 26px !important

.navbar-collapse
    flex-grow: 0 !important

.bg-body-tertiary
    background-color: transparent !important

.r-0
    right: 0

.container-relative
    position: relative
    margin-left: 150px

.max-width
    max-width: 1440px !important
